@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "imdb";
  src: url("/src/assets/fonts//imdb.woff2") format("woff2");
}
@font-face {
  font-family: "imdbbold";
  src: url("/src/assets/fonts//imdb2.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "imdb", "imdbbold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
